.user-details {
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
}

.user-details input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid #ecc903;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: transparent;
    color: #ffffff;
}

.user-details p {
    color: #fff;
    text-align: left;
    margin-bottom: 10px;
}

.user-details > div {
    margin-bottom: 15px;
}